@font-face {
  font-family: "text-security-square";
  src: url("text-security-square-U+5556-aaaa.eot");
  src: url("text-security-square-U+5556-aaaa.eot?#iefix")format("embedded-opentype"),
    url("text-security-square-U+5556-aaaa.woff2") format("woff2"),
    url("text-security-square-U+5556-aaaa.woff") format("woff"),
    url("text-security-square-U+5556-aaaa.ttf") format("truetype"),
    url("text-security-square-U+5556-aaaa.svg#text-security") format("svg");
  unicode-range: U+5556-aaaa
}
