@font-face {
  font-family: "text-security-disc";
  src: url("text-security-disc-U+781-5555.eot");
  src: url("text-security-disc-U+781-5555.eot?#iefix")format("embedded-opentype"),
    url("text-security-disc-U+781-5555.woff2") format("woff2"),
    url("text-security-disc-U+781-5555.woff") format("woff"),
    url("text-security-disc-U+781-5555.ttf") format("truetype"),
    url("text-security-disc-U+781-5555.svg#text-security") format("svg");
  unicode-range: U+781-5555
}
